.bg-gray-900.py-24(class="sm:py-32")
  .mx-auto.max-w-7xl.px-6(class="lg:px-8")
    .mx-auto.max-w-2xl(class="lg:max-w-none")
      .text-center
        h2.text-3xl.font-bold.tracking-tight.text-white(class="sm:text-4xl") Trusted by creators worldwide
        p.mt-4.text-lg.leading-8.text-gray-300 Lorem ipsum dolor sit amet consect adipisicing possimus.
      dl.mt-16.grid.grid-cols-1.gap-0.5.overflow-hidden.rounded-2xl.text-center(class="sm:grid-cols-2 lg:grid-cols-4")
        .flex.flex-col.bg-white/5.p-8
          dt.text-sm.font-semibold.leading-6.text-gray-300 Creators on the platform
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 8,000+
        .flex.flex-col.bg-white/5.p-8
          dt.text-sm.font-semibold.leading-6.text-gray-300 Flat platform fee
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 3%
        .flex.flex-col.bg-white/5.p-8
          dt.text-sm.font-semibold.leading-6.text-gray-300 Uptime guarantee
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 99.9%
        .flex.flex-col.bg-white/5.p-8
          dt.text-sm.font-semibold.leading-6.text-gray-300 Paid out to creators
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white $70M

mixin list
  li