
mixin stat1
  .bg-white.py-24
    .mx-auto.max-w-7xl.px-6
      dl.grid.grid-cols-1.gap-x-8.gap-y-16.text-center
        .mx-auto.flex.max-w-xs.flex-col.gap-y-4
          dt.text-base.leading-7.text-gray-600 Transactions every 24 hours
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 44 million
        .mx-auto.flex.max-w-xs.flex-col.gap-y-4
          dt.text-base.leading-7.text-gray-600 Assets under holding
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 $119 trillion
        .mx-auto.flex.max-w-xs.flex-col.gap-y-4
          dt.text-base.leading-7.text-gray-600 New users annually
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 46,000
mixin stat2
  .bg-white.py-24
    .mx-auto.max-w-7xl.px-6
      .mx-auto.max-w-2xl
        .text-center
          h2.text-3xl.font-bold.tracking-tight.text-gray-900 Trusted by creators worldwide
          p.mt-4.text-lg.leading-8.text-gray-600 Lorem ipsum dolor sit amet consect adipisicing possimus.
        dl.mt-16.grid.grid-cols-1.gap-0.5.overflow-hidden.rounded-2xl.text-center(class="sm:grid-cols-2 lg:grid-cols-4")
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-600 Creators on the platform
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 8,000+
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-600 Flat platform fee
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 3%
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-600 Uptime guarantee
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 99.9%
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-600 Paid out to creators
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 $70M
mixin stat3
  .bg-gray-900.py-24
    .mx-auto.max-w-7xl.px-6
      .mx-auto.max-w-2xl
        .text-center
          h2.text-3xl.font-bold.tracking-tight.text-white Trusted by creators worldwide
          p.mt-4.text-lg.leading-8.text-gray-300 Lorem ipsum dolor sit amet consect adipisicing possimus.
        dl.mt-16.grid.grid-cols-1.gap-0.5.overflow-hidden.rounded-2xl.text-center(class="sm:grid-cols-2 lg:grid-cols-4")
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-300 Creators on the platform
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 8,000+
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-300 Flat platform fee
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 3%
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-300 Uptime guarantee
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 99.9%
          .flex.flex-col.p-8
            dt.text-sm.font-semibold.leading-6.text-gray-300 Paid out to creators
            dd.order-first.text-3xl.font-semibold.tracking-tight.text-white $70M
mixin stat4
  .bg-gray-900.py-24
    .mx-auto.max-w-7xl.px-6
      dl.grid.grid-cols-1.gap-x-8.gap-y-16.text-center
        .mx-auto.flex.max-w-xs.flex-col.gap-y-4
          dt.text-base.leading-7.text-gray-400 Transactions every 24 hours
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 44 million
        .mx-auto.flex.max-w-xs.flex-col.gap-y-4
          dt.text-base.leading-7.text-gray-400 Assets under holding
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white $119 trillion
        .mx-auto.flex.max-w-xs.flex-col.gap-y-4
          dt.text-base.leading-7.text-gray-400 New users annually
          dd.order-first.text-3xl.font-semibold.tracking-tight.text-white 46,000
mixin stat5
  .relative.bg-white
    img.h-56.w-full.bg-gray-50.object-cover/2(src='https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3(class="lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-1")&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80', alt)
    .mx-auto.grid.max-w-7xl
      .px-6.pb-24.pt-16(class="sm:pb-32 sm:pt-20 lg:col-start-2 lg:px-8 lg:pt-32")
        .mx-auto.max-w-2xl(class="lg:mr-0 lg:max-w-lg")
          h2.text-base.font-semibold.leading-8.text-indigo-600 Our track record
          p.mt-2.text-3xl.font-bold.tracking-tight.text-gray-900 Trusted by thousands of creators worldwide
          p.mt-6.text-lg.leading-8.text-gray-600 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
          dl.mt-16.grid.max-w-xl.grid-cols-1.gap-8(class="sm:mt-20 sm:grid-cols-2 xl:mt-16")
            .flex.flex-col.gap-y-3.border-l.pl-6
              dt.text-sm.leading-6.text-gray-600 Creators on the platform
              dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 8,000+
            .flex.flex-col.gap-y-3.border-l.pl-6
              dt.text-sm.leading-6.text-gray-600 Flat platform fee
              dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 3%
            .flex.flex-col.gap-y-3.border-l.pl-6
              dt.text-sm.leading-6.text-gray-600 Uptime guarantee
              dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 99.9%
            .flex.flex-col.gap-y-3.border-l.pl-6
              dt.text-sm.leading-6.text-gray-600 Paid out to creators
              dd.order-first.text-3xl.font-semibold.tracking-tight.text-gray-900 $70M
mixin stat6
  .bg-white.py-24
    .mx-auto.max-w-7xl.px-6
      .mx-auto.max-w-2xl
        h2.text-3xl.font-bold.tracking-tight.text-gray-900 We approach the workplace as something that adds to our lives and adds value to world.
        p.mt-6.text-base.leading-7.text-gray-600 Diam nunc lacus lacus aliquam turpis enim. Eget hac velit est euismod lacus. Est non placerat nam arcu. Cras purus nibh cursus sit eu in id. Integer vel nibh.
      .mx-auto.mt-16.flex.max-w-2xl.flex-col.gap-8(class="lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end")
        .flex.flex-col-reverse.justify-between.gap-x-16.gap-y-8.rounded-2xl.bg-gray-50.p-8(class="sm:w-3 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start")/4
          p.flex-none.text-3xl.font-bold.tracking-tight.text-gray-900 250k
          
            p.text-lg.font-semibold.tracking-tight.text-gray-900 Users on the platform
            p.mt-2.text-base.leading-7.text-gray-600 Vel labore deleniti veniam consequuntur sunt nobis.
        .flex.flex-col-reverse.justify-between.gap-x-16.gap-y-8.rounded-2xl.bg-gray-900.p-8(class="sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44")
          p.flex-none.text-3xl.font-bold.tracking-tight.text-white $8.9 billion
          
            p.text-lg.font-semibold.tracking-tight.text-white We’re proud that our customers have made over $8 billion in total revenue.
            p.mt-2.text-base.leading-7.text-gray-400 Eu duis porta aliquam ornare. Elementum eget magna egestas.
        .flex.flex-col-reverse.justify-between.gap-x-16.gap-y-8.rounded-2xl.bg-indigo-600.p-8(class="sm:w-11 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28")/12
          p.flex-none.text-3xl.font-bold.tracking-tight.text-white 401,093
          
            p.text-lg.font-semibold.tracking-tight.text-white Transactions this year
            p.mt-2.text-base.leading-7.text-indigo-200 Eu duis porta aliquam ornare. Elementum eget magna egestas. Eu duis porta aliquam ornare.
mixin stat7
  .bg-white.py-24
    .mx-auto.max-w-7xl.px-6
      .mx-auto.grid.max-w-2xl.grid-cols-1.gap-8.overflow-hidden(class="lg:mx-0 lg:max-w-none lg:grid-cols-4")
        div
          time.flex.items-center.text-sm.font-semibold.leading-6.text-indigo-600(datetime='2021-08')
            svg.mr-4.h-1.w-1.flex-none(viewBox='0 0 4 4', aria-hidden='true')
              circle(cx='2', cy='2', r='2', fill='currentColor')
            | 
  Aug 2021
  
            .absolute.-ml-2.h-px.w-screen.-translate-x-full(aria-hidden='true')
          p.mt-6.text-lg.font-semibold.leading-8.tracking-tight.text-gray-900 Founded company
          p.mt-1.text-base.leading-7.text-gray-600 Nihil aut nam. Dignissimos a pariatur et quos omnis. Aspernatur asperiores et dolorem dolorem optio voluptate repudiandae.
        div
          time.flex.items-center.text-sm.font-semibold.leading-6.text-indigo-600(datetime='2021-12')
            svg.mr-4.h-1.w-1.flex-none(viewBox='0 0 4 4', aria-hidden='true')
              circle(cx='2', cy='2', r='2', fill='currentColor')
            | 
  Dec 2021
  
            .absolute.-ml-2.h-px.w-screen.-translate-x-full(aria-hidden='true')
          p.mt-6.text-lg.font-semibold.leading-8.tracking-tight.text-gray-900 Secured $65m in funding
          p.mt-1.text-base.leading-7.text-gray-600 Provident quia ut esse. Vero vel eos repudiandae aspernatur. Cumque minima impedit sapiente a architecto nihil.
        div
          time.flex.items-center.text-sm.font-semibold.leading-6.text-indigo-600(datetime='2022-02')
            svg.mr-4.h-1.w-1.flex-none(viewBox='0 0 4 4', aria-hidden='true')
              circle(cx='2', cy='2', r='2', fill='currentColor')
            | 
  Feb 2022
  
            .absolute.-ml-2.h-px.w-screen.-translate-x-full(aria-hidden='true')
          p.mt-6.text-lg.font-semibold.leading-8.tracking-tight.text-gray-900 Released beta
          p.mt-1.text-base.leading-7.text-gray-600 Sunt perspiciatis incidunt. Non necessitatibus aliquid. Consequatur ut officiis earum eum quia facilis. Hic deleniti dolorem quia et.
        div
          time.flex.items-center.text-sm.font-semibold.leading-6.text-indigo-600(datetime='2022-12')
            svg.mr-4.h-1.w-1.flex-none(viewBox='0 0 4 4', aria-hidden='true')
              circle(cx='2', cy='2', r='2', fill='currentColor')
            | 
  Dec 2022
  
            .absolute.-ml-2.h-px.w-screen.-translate-x-full(aria-hidden='true')
          p.mt-6.text-lg.font-semibold.leading-8.tracking-tight.text-gray-900 Global launch of product
          p.mt-1.text-base.leading-7.text-gray-600 Ut ipsa sint distinctio quod itaque nam qui. Possimus aut unde id architecto voluptatem hic aut pariatur velit.
mixin stat8
  .relative.isolate.overflow-hidden.bg-gray-900.py-24
    img.absolute.inset-0.-z-10.h-full.w-full.object-cover(src='https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2850&q=80&blend=111827&blend-mode=multiply&sat=-100&exp=15', alt)
    .relative.mx-auto.max-w-7xl.px-6
      .absolute.-bottom-8.-left-96.-z-10.transform-gpu.blur-3xl(aria-hidden='true')
        .aspect-[1266/975].w-[79.125rem].bg-gradient-to-tr.from-[#ff4694].to-[#776fff].opacity-20(style='clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)')
      .mx-auto.max-w-2xl(class="lg:mx-0 lg:max-w-xl")
        h2.text-base.font-semibold.leading-8.text-indigo-400 Our track record
        p.mt-2.text-3xl.font-bold.tracking-tight.text-white Trusted by thousands of creators worldwide
        p.mt-6.text-lg.leading-8.text-gray-300 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
      dl.mx-auto.mt-16.grid.max-w-2xl.grid-cols-1.gap-x-8.gap-y-10.text-white(class="sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4")
        .flex.flex-col.gap-y-3.border-l.pl-6
          dt.text-sm.leading-6 Creators on the platform
          dd.order-first.text-3xl.font-semibold.tracking-tight 8,000+
        .flex.flex-col.gap-y-3.border-l.pl-6
          dt.text-sm.leading-6 Flat platform fee
          dd.order-first.text-3xl.font-semibold.tracking-tight 3%
        .flex.flex-col.gap-y-3.border-l.pl-6
          dt.text-sm.leading-6 Uptime guarantee
          dd.order-first.text-3xl.font-semibold.tracking-tight 99.9%
        .flex.flex-col.gap-y-3.border-l.pl-6
          dt.text-sm.leading-6 Paid out to creators
          dd.order-first.text-3xl.font-semibold.tracking-tight $70M
mixin stat9
  .bg-white.py-32
    .mx-auto.max-w-7xl.px-6
      .mx-auto.max-w-2xl(class="lg:mx-0 lg:max-w-none")
        h2.text-3xl.font-bold.tracking-tight.text-gray-900 Our mission
        .mt-6.flex.flex-col.gap-x-8.gap-y-20
          
            p.text-xl.leading-8.text-gray-600 Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.
            p.mt-10.max-w-xl.text-base.leading-7.text-gray-700 Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.
          
            dl.w-64.space-y-8
              .flex.flex-col-reverse.gap-y-4
                dt.text-base.leading-7.text-gray-600 Transactions every 24 hours
                dd.text-5xl.font-semibold.tracking-tight.text-gray-900 44 million
              .flex.flex-col-reverse.gap-y-4
                dt.text-base.leading-7.text-gray-600 Assets under holding
                dd.text-5xl.font-semibold.tracking-tight.text-gray-900 $119 trillion
              .flex.flex-col-reverse.gap-y-4
                dt.text-base.leading-7.text-gray-600 New users annually
                dd.text-5xl.font-semibold.tracking-tight.text-gray-900 46,000
mixin stat10
  .bg-gray-900.py-24
    .mx-auto.max-w-7xl.px-6
      .mx-auto.max-w-2xl(class="lg:mx-0 lg:max-w-none")
        p.text-base.font-semibold.leading-7.text-indigo-400 Deploy faster
        h1.mt-2.text-3xl.font-bold.tracking-tight.text-white A better workflow
        .mt-10.grid.max-w-xl.grid-cols-1.gap-8.text-base.leading-7.text-gray-300(class="lg:max-w-none lg:grid-cols-2")
          div
            p Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.
            p.mt-8 Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas.
          div
            p Erat pellentesque dictumst ligula porttitor risus eget et eget. Ultricies tellus felis id dignissim eget. Est augue maecenas risus nulla ultrices congue nunc tortor. Enim et nesciunt doloremque nesciunt voluptate.
            p.mt-8 Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.
        dl.mt-16.grid.grid-cols-1.gap-x-8.gap-y-12(class="sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mt-28 lg:grid-cols-4")
          .flex.flex-col-reverse.gap-y-3.border-l.pl-6
            dt.text-base.leading-7.text-gray-300 Founded
            dd.text-3xl.font-semibold.tracking-tight.text-white 2021
          .flex.flex-col-reverse.gap-y-3.border-l.pl-6
            dt.text-base.leading-7.text-gray-300 Employees
            dd.text-3xl.font-semibold.tracking-tight.text-white 37
          .flex.flex-col-reverse.gap-y-3.border-l.pl-6
            dt.text-base.leading-7.text-gray-300 Countries
            dd.text-3xl.font-semibold.tracking-tight.text-white 12
          .flex.flex-col-reverse.gap-y-3.border-l.pl-6
            dt.text-base.leading-7.text-gray-300 Raised
            dd.text-3xl.font-semibold.tracking-tight.text-white $25M